
 @font-face /*perintah untuk memanggil font eksternal*/
{
    font-family: 'airbnb'; /*memberikan nama bebas untuk font*/
    src: url('../../airbnb-cereal-font/AirbnbCereal_W_Bd.otf');/*memanggil file font eksternalnya di folder nexa*/
}
 @font-face /*perintah untuk memanggil font eksternal*/
{
    font-family: 'airbnb_bk'; /*memberikan nama bebas untuk font*/
    src: url('../../airbnb-cereal-font/AirbnbCereal_W_Bk.otf');/*memanggil file font eksternalnya di folder nexa*/
}
 @font-face /*perintah untuk memanggil font eksternal*/
{
    font-family: 'airbnb_blk'; /*memberikan nama bebas untuk font*/
    src: url('../../airbnb-cereal-font/AirbnbCereal_W_Blk.otf');/*memanggil file font eksternalnya di folder nexa*/
}
 @font-face /*perintah untuk memanggil font eksternal*/
{
    font-family: 'airbnb_lt'; /*memberikan nama bebas untuk font*/
    src: url('../../airbnb-cereal-font/AirbnbCereal_W_Lt.otf');/*memanggil file font eksternalnya di folder nexa*/
}
 @font-face /*perintah untuk memanggil font eksternal*/
{
    font-family: 'airbnb_md'; /*memberikan nama bebas untuk font*/
    src: url('../../airbnb-cereal-font/AirbnbCereal_W_Md.otf');/*memanggil file font eksternalnya di folder nexa*/
}
.pageTitle{
    margin-left: 120px;
    display: block;
    margin: auto;
    margin-top: 100px;
   
    font-family: airbnb;
    height: 50px;
    font-size: 52px;
}
.titlePage{
    margin-top: 70px;
    color: #2E266F;
}
.latar{
    background-color: #EFC81A;
    height: 800px;
    width: 500px;
     margin-right: -120px !important;
}
.imagePage{
    position: absolute;
    bottom: 10px;
    left: 690px;
}
.popular{
   border-left: 10px solid #EFC81A;
    margin-left: 120px;
    font-size: 48px;
    font-family: airbnb_md;
    font-weight: 500;
    margin-top: -30px;
}
.pagination{
  margin-left: 480px;
}
.curent{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 20px;
}
.next{
  margin-left: -110px;
}
.garisTwo{
    height: 400px;
    width: 400px;
    right: 800px;
    top: 990px;
    border: 3px solid #EFC81A;
    position: absolute;
    z-index: -10;
    border-radius: 5px;
    
}
.subTitle{
    font-size: 16px;
    color: #666666;
    font-family: airbnb_bk;
}
.imageTwo{
    margin-left: 120px;
    margin-top: 80px;
}
.bag{
    background-color: #EFC81A;
    width: 300px;
    height: 400px;
}
.imageThere{
    margin-left: -200px;
    margin-top: 50px;
}
.slide{
    color: #222222;

}
.btnMore{
    background-color: #EFC81A;
    color: #EFEFEF;
    font-family: airbnb_lt;
    font-size: 16px;
    width: 150px;
}
.popularTwo{
    margin-top: 70px;
     border-left: 10px solid #EFC81A;
    margin-left: 120px;
    font-size: 48px;
    font-family: airbnb_md;
    font-weight: 500;
}
.imageCard{
    position: relative;
}
.captionCard{
    color: #666666;
    margin-left: 5px;
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
}
.categories{
    border: none;
}
.iconLogin{
    border-radius: 50%;
    background-color: #fff;
}

@media (max-width:576px) {
  .comen{
    margin-top: 5px;
  }
  .pageTitle{
    margin-left: 10px;
  }
  .titlePage{
    font-size: 28px;
    margin-top: -50px;
  }
  .search{
    width: 300px;
    margin-top: 20px !important;
  }
  .popularTwo{
    margin-top: 130px !important;
    margin-left: 35px;
  }
  .slide{
    font-size: 20px;
    width: 300px;
    margin-top: -60px;
  }
  .subTitle{
     font-size: 16px;
    width: 300px;
    margin-top: 0px;
  }
  .btnMore{
    margin-top: -40px;
  }
  .popular{
    margin-top: 100px;
    margin-left: 30px;
  }
  .imagePage, .latar,.imageTwo,.imageThere,.bag{
    display: none;
  }
}